* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* HEADER */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("manoram_door.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 2px solid black;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
  transition: 0.3s ease;
}

nav img:hover {
  transform: scale(1.05);
}

nav .fa-bars{
   display: none;
}

nav .fa-xmark{
   display: none;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/* HERO TEXT */
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  line-height: 1.2;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
  transition: 0.5s;
}

nav .fa {
  display: none;
}

/* COURSES */
.Courses {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.course-col {
  flex: 1 1 30%;
  background-color: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.course-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

/* CAMPUS */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex: 1 1 30%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}



.layer {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226,0,0,0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* FACILITIES */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-col {
  flex: 1 1 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

/* TESTIMONIAL */
.testimonial {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.testimonial-col {
  flex: 1 1 45%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background-color: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.testimonial-col .fa-solid {
  color: #f44336;
}

/* CTA */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("banner2.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 20px;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 28px;
  padding: 0;
}

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa-brands {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart {
  color: #f44336;
}

/* ================== RESPONSIVE MEDIA QUERIES ================== */
@media (max-width: 1024px) {
  .text-box h1 {
    font-size: 45px;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  nav img {
    width: 120px;
  }
  .text-box h1 {
    font-size: 35px;
  }
  .text-box p {
    font-size: 14px;
  }
  .hero-btn {
    padding: 10px 25px;
  }
  .course-col,
  .campus-col,
  .facilities-col,
  .testimonial-col {
    flex-basis: 100%;
  }
  .testimonial-col {
    flex-direction: column;
    text-align: center;
  }
  .testimonial-col img {
    margin: 0 auto 15px;
  }
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 25px;
  }
  .nav-links {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li {
    display: block;
  }
  .cta h1 {
    font-size: 20px;
  }
  .course-col, .campus-col, .facilities-col, .testimonial-col {
    width: 100%;
  }
}

